.gallery-title {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.gallery {
  margin: 0 10% 80px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  align-content: center;
  gap: 20px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
  background-color: white;
  border-radius: 28px;
  position: relative;
}

/* Cards */
.card {
  background-color: white;
}
.card img {
  width: 150px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  transition: transform 0.35s;

  filter: contrast(1.5) saturate(1.5);
}

.card img:hover {
  transform: scale(1.2);
}
.card ul {
  list-style: none;
}
